body{
    background-color: #FECC6F;

}
header{
        height: 200px;
}
.logo{
    width: 50%;
    height: 200px;
    background-image: url(bullseye-logo.png);
    min-height: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.content
{   position: relative;
    color: white;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #425A5A;
    border-color: #523620;
    border-radius: 10px;
    border-width: 12px;
    border-style: solid;
}
.sir{
    position: absolute;
    right: 150px;
    top: 235px;
    z-index: 2;
}
.chalk{
    position: absolute;
    right: 150px;
    bottom: 10px;
    left: 350px;
    z-index: 2;
}